/* Variables */
:root {
  --main-color: #f0572d;
  --two-color: #383b58;
  --three-color: #191b1d;
  --three-color-with-opacity: rgba(84, 87, 118, 0.1);
  --four-color: #dfe4ea;
  height: 100%
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}