/* Fonts: medium y bold */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
/* Estilos globales */
.App {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Headings */
h1,
h2,
h3,
h4 {
  margin: 0;
  color: #31363f;
  font-weight: 700;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  opacity: 60%;
  font-size: 14px;
}

/* Buttons */
.btn-1,
.btn-2 {
  background-color: #f0572d;
  color: #FFFFFF;
  font-weight: 700;
}
.btn-1 {
  font-size: 14px;
}
.btn-2 {
  font-size: 16px;
}

/* Text */
p,
.txt-1,
.txt-2 {
  color: #191b1d;
  font-weight: 500;
}
.txt-1 {
  font-size: 14px;
}
.txt-2 {
  font-size: 16px;
}

/* pantalla 2 Mobile crearCuenta */
@media screen and (max-width: 480px) {
  txt-1 {
    font-size: 8px;
  }
}
